/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

nav{
  transform:translatex(26px) translatey(-12px);
  width:1818px;
  position: fixed;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items: center;
  color:transparent;
}

.nav-links{
  flex: 1;
  text-align: right;
  text-shadow: 1px 1px 4px rgb(90, 90, 90);
      color: rgb(0, 0, 0);
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  color: #000000;
  
}

.nav-links ul li a{
  text-shadow:rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
  color: #000000;
  text-decoration: none;
}

.nav-links ul a{
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px !important;
 }
